/* 遮罩S */
.mask {width:100%;height:100%;background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;z-index:15550;}
.mask .dialog {width:80%;background:#fff;border-radius: 0.2rem;position:absolute;top:37%;left:10%;}
.mask .dialog h2 {padding:0.5rem 0 0.2rem 0;text-align: center;font-size:0.37rem;}
.mask .dialog p span {width:48%;display:inline-block;text-align: center;padding:0.2rem 0;}
/* 遮罩E */
.perfect{
	color:#1f9ef5;
}
.audit {
	width: 100%;
	height: 5.45rem;
	position: relative;
	background: url(/static/app/images/35.png) no-repeat;
	background-size:100%;
}
.suc{
	width: 100%;
	height: 5.45rem;
	position: relative;
	background: url(/static/app/images/34.png) no-repeat;
	background-size:100%;
}
.audit a ,.suc a{
	display: inline-block;
	position: absolute;
	top: 0.24rem;
	left: 0.24rem;
	width: 0.24rem;
	height: 0.4rem;
}

.audit a img , .suc a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	padding: 0 0.24rem;
	height: auto;
	margin-top: 0.6rem;
}

.info p {
	display: block;
}

.successed {
	color: #333;
	font-size: 0.32rem;
	line-height: 0.6rem;
	text-align: center;
}

.sinfo {
	color: #666;
	font-size: 0.28rem;
	text-align: left;
	padding: 0 0.1rem;
	margin-top: 0.2rem;
}

.btn {
	display: block;
	width: 100%;
	height: 0.88rem;
	border: 1px solid #dedede;
	margin-top: 0.8rem;
	font-size: 0.36rem;
	height: 0.88rem;
	text-align: center;
	line-height: 0.88rem;
	border-radius: 0.2rem;
	color: #333;
}