/* 修改密码新版 */
*{padding:0;margin:0;}
body{overflow-y: hidden;width:100%;height: 100%;}
.container {display:flex;flex-direction: column;}
header{flex-shrink: 1;position:fixed;top:0;left:0;z-index:9;}
section{flex:1;background:#f2f2f2;margin-top:0.9rem;}
.container .header {width:100%;height:0.88rem;background:#1f9ef5;display:flex;justify-content: space-between;}
.container .header .pic {width:0.2rem;height:0.3rem;display:inline-block;padding-top:0.25rem;padding-left:0.2rem;}
.container .header .pic img{width: 100%;height: 100%;}
.container .header .choice{line-height:0.88rem;color:#fff;font-size:0.32rem;padding-left: 0.2rem;}
section ul {margin-top:0.2rem;background:#fff;}
ul li {border-bottom:1px solid #f2f2f2;}
ul li input {border:none;widows: 100%;padding:0.25rem 0.2rem;}
ul .yzm input{width:45%;}
ul li #btn {border:none;border:1px solid #32b0ff;border-radius: 0.3rem;width:3rem;height:0.45rem;text-align:center;line-height:0.45rem;color:#32b0ff;background:#fff;}
#preserveBtn {width:94%;height:0.88rem;background:url(../images/btn_bg.png) no-repeat;background-size:100% 100%;text-align:center;line-height:0.88rem;color:#fff;font-size:0.36rem;margin-left:3%;margin-top:2rem;}
.container .center{
	width: 100%;
    height: 4rem;
    padding: 1rem;
    box-sizing: border-box;
}
.container .center img{
	width:100%;
}
h4{text-align: center;padding-bottom: 0.5rem;font-size: 0.3rem;}
