/* 接收订单 */
*{margin:0;padding:0;}
body,html{background:#fff;}
.mask {width:100%;height:100%;background:rgb(0,0,0,0.5);position:fixed;top:0;left:0;z-index:100;}
.mask .dialog {width:80%;background:#fff;border-radius: 0.2rem;position:absolute;top:37%;left:10%;}
.mask .dialog h2 {padding:0.5rem 0 0.2rem 0;text-align: center;font-size:0.37rem;}
.mask .dialog p span {width:48%;display:inline-block;text-align: center;padding:0.2rem 0;}
.container {display:flex;flex-direction: column;}
header{flex-shrink: 1;position:fixed;top:0;left:0;z-index:99;}
.container .header {width:100%;height:0.88rem;background:#1f9ef5;display:flex;justify-content: space-between;}
.container .header .pic {width:0.2rem;height:0.3rem;display:inline-block;padding-top:0.25rem;padding-left:0.2rem;}
.container .header .order{line-height:0.88rem;color:#fff;font-size:0.32rem;}
.container .header .pic img{width: 100%;height: 100%;}
section{flex:1;}
.tab{width:100%;height:0.88rem;margin-top:0.88rem;}
.tab ul{width:100%;height:0.8rem;display:flex;background:#fff;position:fixed;top:0.8rem;z-index: 99;}
.tab ul li{text-align: center;line-height: 0.8rem;flex:1;color:#666;font-size:0.24rem;}
.bg{color:#1f9ef5;border-bottom:1px solid #1f9ef5;}
.tab_con{text-align:center;}
.tab_con .all_list{background:#fff;overflow-y: scroll;}
.tab_con .all_list .one_list {border-top:0.2rem solid #f2f2f2;}
.tab_con .all_list .one_list .lists{position: relative;}
.tab_con .all_list .one_list .ordertype{
	width:0.7rem;
	height:0.7rem;
	position: absolute;
	left: 0;
	bottom:0;
 }
.tab_con .all_list .one_list .lists dl{display:flex;width:100%;}
.tab_con .all_list .one_list .lists dl dt{width:0.8rem;height:0.8rem;padding:0.2rem 0.3rem;}
.tab_con .all_list .one_list .lists dl dt img{width: 100%;height: 100%;}
.tab_con .all_list .one_list .lists dl dd {width:80%;text-align:left;border-bottom:1px solid #dedede;}
.tab_con .all_list .one_list .lists dl dd p {line-height:0.4rem;}
.tab_con .all_list .one_list .lists dl dd p:first-child {padding-top:0.2rem;}
.tab_con .all_list .one_list .lists dl dd p:first-child span:nth-child(2) {padding-left:0.3rem;}
.tab_con .all_list .one_list .lists dl dd p:first-child span:nth-child(3) {display:inline-block;float: right;margin-right:0.2rem;}
.tab_con .all_list .one_list .lists dl dd p:nth-child(2) {padding-bottom:0.1rem;}
.tab_con .all_list .one_list .lists dl dd p:nth-child(2) .times {padding-left:0.3rem;}
.tab_con .all_list .one_list .lists .address {line-height:0.8rem;border-bottom:1px solid #dedede;text-align:left;padding-left:18%;}
.address_no {border:none;line-height:0.8rem;text-align:left;padding-left:18%;}
.tab_con .all_list .one_list .delete {width:100%;text-align:right;padding-bottom:0.15rem;}
.tab_con .all_list .one_list .btn {width:1.5rem;line-height:0.5rem;border:none;border:1px solid #1f9ef5;color:#1f9ef5;background:#fff;margin-right:0.3rem;margin-top:0.15rem;}

.tab_con .all_list .yuyue_list {background:#f2f2f2;}
.tab_con .all_list .yuyue_list .orders {width:100%;height:4.4rem;background:url(/static/app/images/yydd_bg.png) no-repeat;background-size:100% 100%;margin-top:0.4rem;position: relative;}
.tab_con .all_list .yuyue_list .orders p{text-align: left;line-height: 0.5rem;}
.tab_con .all_list .yuyue_list .orders p:nth-child(1){position: absolute;top:0.1rem;left:43.5%;width:1rem;height:1rem;}
.tab_con .all_list .yuyue_list .orders p:nth-child(1) img {width: 100%;height: 100%;border-radius: 50%;}
.tab_con .all_list .yuyue_list .orders p:nth-child(2) {position: absolute;top:1.2rem;left:0.8rem;}
.tab_con .all_list .yuyue_list .orders p span:nth-child(1) {color:#999;}
.tab_con .all_list .yuyue_list .orders p span:nth-child(2) {color:#333;}
.tab_con .all_list .yuyue_list .orders p:nth-child(3) {position: absolute;top:1.7rem;left:0.8rem;}
.tab_con .all_list .yuyue_list .orders p:nth-child(4) {position: absolute;top:2.2rem;left:0.8rem;}
.tab_con .all_list .yuyue_list .orders p:nth-child(5) {position: absolute;top:2.7rem;left:0.8rem;}
.tab_con .all_list .yuyue_list .orders a {position:absolute;bottom:0.2rem;left:42%;color:#1f9ef5;font-size:0.32rem;}
#wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0.9rem;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.pull-loading {
	background: #fff;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
